[submodule "External/realm-cocoa"]
	path = External/realm-cocoa
	url = https://github.com/realm/realm-cocoa.git
[submodule "External/Realm"]
	path = External/Realm
	url = git@github.com:realm/realm-cocoa.git
